@import '../../variables.scss';

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: $main-box-shadow;
    border-radius: 4px;
    min-width: 400px;

    h1 {
        margin: 0;
        font-size: 24px;
        padding: 20px;
    }

    form {
        padding: 0 20px 20px;
        display: flex;
        flex-direction: column;

        fieldset {
            display: flex;
            flex-direction: column;
            border: none;
            padding: 0;
            margin: 0;
            margin-bottom: 10px;

            input {
                width: 100%;
            }
        }

        label {
            margin-bottom: 4px;
        }

        button {
            margin-top: 8px;
        }
    }
}