@import '../../variables.scss';

.catalog-page {

    .form-wrapper {
        background: #efefef;

        .main {
            max-width: 960px;
            margin-left: auto;
            margin-right: auto;
            padding: 0 20px 20px;

            .title {
                font-family: "font900", "Arial";
                font-size: 1.9em;
                padding: 30px 0px 30px;

                .logo {
                    width: 180px;
                    display: flex;
                    align-items: center;
                    margin-left: 0.5px;

                    span:nth-of-type(1) {
                        color: white;
                    }

                    span:nth-of-type(2) {
                        color: #628BF5;
                    }

                    span:nth-of-type(3) {
                        color: #F95E5E;
                    }
                }
            }

            form {
                font-size: 1.2em;
                display: flex;
                justify-content: center;
                align-items: center;

                fieldset {
                    display: flex;
                    flex-direction: column;
                    border: none;
                    padding: 0;
                    margin: 0;
                    margin-right: 20px;
                    margin-bottom: 10px;

                    label {
                        font-family: "font700";
                        font-size: .9em;
                        margin-bottom: 10px;
                    }

                    .department-num {
                        width: 260px;
                        padding: 13px 0px 14px 15px !important;
                        font-size: 1em;
                    }

                    .Dropdown-control {
                        cursor: pointer;
                        padding: 13px 0px 14px 15px !important;
                        border-radius: 4px;

                        &:hover {
                            box-shadow: none;
                        }
                    }

                    .department-name .Dropdown-control {
                        width: 260px !important;
                    }

                    .city .Dropdown-control {
                        width: 180px !important;
                    }

                    .Dropdown-arrow {
                        top: 23px;
                    }

                    .Dropdown-menu {
                        margin-top: 6px;
                        border: 1px solid #cfcfcf;
                        box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.1);
                        border-radius: 4px;
                    }
                }

                button {
                    padding: 15px 0px 15px !important;
                    cursor: pointer;
                    background: #5a5ade;
                    border: none;
                    color: white;
                    padding: 10px;
                    cursor: pointer;
                    border-radius: 4px;
                    transition: all 0.23s ease-in-out;
                    font-weight: 600;
                    font-size: 1em;

                    // height: 60px;
                    width: 160px;
                    margin-top: 17px;
                    font-family: "font700";
                    font-size: .9em;

                    &:disabled {
                        opacity: 0.7;
                    }
                }
            }
        }
    }
}

.emails {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;

    .not-found {
        margin-top: 20px;
        color: #666;
        font-size: 1.3em;
        text-align: center;
    }

    .item {
        border-bottom: 1px solid #cfcfcf;
        padding: 20px 0;
        margin: 0 20px;

        .name {
            font-family: $font-700;
            font-size: 1.5em;
            font-weight: 500;
        }

        .address {
            margin-top: 15px;
            font-size: 1.1em;
            color: #333;

            span {
                margin-right: 10px;
            }
        }

        .emails {
            margin-top: 25px;

            .title {
                font-family: $font-700;
                font-size: 1.2em;
            }

            .our,
            .origin {
                display: inline-block;
                font-weight: 600;
                border-radius: 5px;
                margin-top: 10px;
                font-size: 1.1em;

                a {
                    color: #3f3fd9;
                    text-decoration: none;
                }
            }
        }
    }

}