@import '../../variables.scss';

.catalog-page {

    .form-wrapper {
        padding: 100px 20px 50px;
        background: #d9d2e9;
        box-shadow: 0px 0px 3px 3px #4e4c4c61;

        form {
            max-width: 960px;
            margin-left: auto;
            margin-right: auto;
            padding: 0 20px 20px;
            font-size: 1.35em;
            display: flex;
            justify-content: center;
            align-items: center;

            fieldset {
                display: flex;
                flex-direction: column;
                border: none;
                padding: 0;
                margin: 0;
                margin-right: 20px;
                margin-bottom: 10px;

                label {
                    font-size: .8em;
                    margin-bottom: 10px;
                }

                .department-num {
                    width: 120px;
                    font-size: .9em !important;
                    padding: 20px 0px 20px 20px !important;
                }

                .department-name .Dropdown-control {
                    cursor: pointer;
                    width: 430px !important;
                    padding: 20px 0px 20px 20px !important;
                }

                .city .Dropdown-control {
                    cursor: pointer;
                    width: 150px !important;
                    padding: 20px 0px 20px 20px !important;
                }
            }

            button {
                background: #674ea7;
                border: none;
                color: white;
                cursor: pointer;
                border-radius: 4px;
                transition: all 0.23s ease-in-out;
                font-size: 1em;
                height: 60px;
                width: 160px;
                margin-top: 17px;
            }
        }
    }

    .emails {
        max-width: 960px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;

        .item {
            border: 1px solid #aaa;
            border-radius: 5px;
            padding: 20px 30px;
            
            .name {
                font-size: 1.7em;
                font-weight: 500;
            }

            .emails {
                margin-top: 20px;

                .our,
                .origin {
                    margin-top: 10px;
                    font-size: 1.3em;
                }
            }
        }
    }
}